<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         shortenArraysForExportThreshold="10"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="false"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Functional">
            <directory>./test/Functional</directory>
        </testsuite>
        <testsuite name="Monad">
            <directory>./test/Monad</directory>
        </testsuite>
        <testsuite name="Primitive">
            <directory>./test/Primitive</directory>
        </testsuite>
        <testsuite name="Useful">
            <directory>./test/Useful</directory>
        </testsuite>
        <testsuite name="Examples">
            <directory>./example/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <clover outputFile="./clover.xml"/>
        </report>
    </coverage>
    <source ignoreIndirectDeprecations="true"
            restrictNotices="true"
            restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
