<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd">
    <testsuites>
        <testsuite name="Functional">
            <directory>./test/Functional</directory>
        </testsuite>
        <testsuite name="Monad">
            <directory>./test/Monad</directory>
        </testsuite>
        <testsuite name="Primitive">
            <directory>./test/Primitive</directory>
        </testsuite>
        <testsuite name="Useful">
            <directory>./test/Useful</directory>
        </testsuite>
        <testsuite name="Examples">
            <directory>./example/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
